
@import './index.scss';

.todayshighlight {
	padding: 0;
	margin-top: 7rem;

	.title {
		padding-left: 1.8rem;
		padding-bottom: .5rem;

		h6 {
			font-size: 1.2rem;
			font-weight: bold;
			z-index: 2;
			padding: 0px;
			background-color: transparent;
		}

		div {
			margin-top: -.9rem;
			border: solid .2rem $highColor;
			background-color: $highColor;
			width: 11.8rem;
			height: .5rem;
			z-index: 1;
			margin-top: -1rem;
		}
	}
}